.calendar {
  background: #fff;
  margin: $grid-gap;
  .header {
    background-color: map-get($colors, 'lightness');
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid map-get($colors, 'light');
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
      font-size: 18px;
    }
    p {
      margin: 5px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      color: map-get($colors, 'light');
      input {
        display: inline-flex;
        width: 90px;
      }
    }
    .controls {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      button {
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        &:hover {
          background-color: #f3f6fd;
        }
      }
    }
  }
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    .day {
      border-bottom: 1px solid map-get($colors, 'light');
      // border-right: 1px solid map-get($colors, 'light');
      text-align: right;
      padding: 5px 5px 0 0;
      letter-spacing: 1px;
      font-size: 12px;
      box-sizing: border-box;
      color: #98a0a6;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    .day.name {
      font-size: 12px;
      text-transform: uppercase;
      color: #99a1a7;
      text-align: center;
      border-bottom: 1px solid map-get($colors, 'light');
      font-weight: 500;
    }
    .day.disabled {
      color: rgba(152, 160, 166, 0.6);
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
      cursor: not-allowed;
    }
    .day.outday {
      background-color: #f3f6fd;
      color: #ccc;
    }
    .day.today {
      color: var(--link-color-active-bg);
      font-size: 14px;
      font-weight: 700;
    }
    .day.active {
      color: $primary;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
.calendar.full {
  height: 100%;
  background-color: transparent;
  .container {
    height: calc(100% - 77px);
  }
}
