@import "~normalize.css/normalize.css";
@import "./font.scss";
@import "./variables";
@import "./utilities/mixins";

/* globals ------------------------------*/


*, ::after, ::before {
    box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  background-color: map-get($colors, 'shine');
  color: map-get($colors, 'zero');
  font-family: "Gilroy", sans-serif;
}

a {
  color: map-get($colors, 'violett');
  &:hover {
    color: darken(map-get($colors, 'violett'), 10%);
  }
}

/* buttons ------------------------------*/
@import './buttons';

/* badges ------------------------------*/
@import './badges';

/* navbar ------------------------------*/
@import "./navbar";

/* container \ grid ------------------------------*/
@include container();
@include grid();

/* dropdown ------------------------------*/
@import "./dropdown";

/* form control styles ------------------------------*/
@import "./forms";

/* calendar ------------------------------*/
@import "./calendar";

/* helper clases ------------------------------*/
@include make-extras($extras);

/* color clases ------------------------------*/

@include color-variants();
