@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import './variables';
@import './utilities/mixins';

/* globals ------------------------------*/
html,
body {
  font-size: 14px;
  background-color: map-get($colors, 'shine');
  color: #424242;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: red;
}

/* navbar ------------------------------*/
@import './navbar';

/* container ------------------------------*/
@include container();
